.title{
  font-family: 'GFSDidot';
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.list {
  display:flex;
  flex-direction:column;
  padding-bottom: 2rem;
}

.title-blog{
  font-size:1.2rem;

}

.date {
  font-size:0.7rem;
}