.container {
  
  margin:0 auto;
  max-width: 890px;
  padding:1rem;

  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  font-family: 'GFSDidot-Regular';
  flex-grow:1;
}

